---
import * as CONFIG from "../config";
import Layout from "../layouts/Layout.astro";
import Title from "../components/atoms/Title.astro";
import Article from "../components/organisms/Article.astro";

const articles = CONFIG.LINKS.articles;
---

<Layout title="About" template="about">
	<Title type="h1">About Me</Title>
	<p>Hello again! My name is Atakan, I am <strong>full-stack web developer</strong> who lives in Ankara, Turkey. I have this strange passion about making and breaking things on the world wide web. Despite holding a bachelor's degree in sociology, I find myself more drawn to investigating, researching, and fixing codebase issues than focusing on societal matters.</p>
	<p>I've been involved in website development since as early as <strong>2012</strong>, and ever since then, I've been crafting websites and web apps with great enthusiasm.</p>
	<p>My primary expertise is in developing <strong> WordPress-based solutions</strong> for the range of businesses from startups to enterprises. I am also quite <strong>obsessed about web performance</strong>, so you may guess how I am looking JS-based solutions nowadays.</p>
	<p>Besides brainstorming for new projects, I am trying really hard to investing time for my open-source <a href="/projects">projects</a> in my spare time.</p>
	<p>Currently, I'm pushing the boundaries of WordPress at <strong>Pangolia</strong>, taking it to new heights!.</p>

	<section class="mt-20">
		<Title type="h2">Published Articles</Title>
		<div class="articles">
			{articles.map((item) => <Article title={item.title} url={item.link} date={item.date} />)}
		</div>
	</section>
</Layout>

<style lang="scss">
	p {
		@apply text-slate-300 text-opacity-80 text-lg md:text-[20px] leading-[1.6] my-8;

		strong {
			@apply text-slate-200 font-medium;
		}
	}

	.articles {
		@apply flex flex-col;

		a {
			@apply text-slate-300 text-opacity-60 text-lg md:text-[20px] leading-[1.6] border-b border-slate-300 border-opacity-20 py-5 hover:text-slate-100 transition-all;
		}
	}
</style>
