<div class="triangle decor">
	<svg width="433" height="533" viewBox="0 0 433 533" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M-219.626 565L106 1L431.626 565H-219.626Z" stroke="#F1F5F9" stroke-opacity="0.1"></path>
	</svg>
</div>

<div class="circle decor">
	<svg width="448" height="449" viewBox="0 0 448 449" fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="223.9" cy="224.668" r="223.4" stroke="#F1F5F9" stroke-opacity="0.1"></circle>
	</svg>
</div>

<div class="rectangular decor">
	<svg width="298" height="1113" viewBox="0 0 298 1113" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M420.636 0.540456L1.63351 0.540508L468.522 1111.88L880.969 1111.89L420.636 0.540456Z" stroke="#F1F5F9" stroke-opacity="0.1"></path>
	</svg>
</div>

<style lang="scss">
	.triangle {
		@apply fixed -left-20 bottom-0;
	}

	.circle {
		@apply fixed -right-40 bottom-0;
	}

	.rectangular {
		@apply fixed right-0 top-0;
	}

	.decor {
		@apply hidden xl:block;
	}
</style>
