---
// Import Stylesheets.
// import "modern-normalize/modern-normalize.css";

// Import Components.
import Nav from "../components/templates/Nav.astro";
import Footer from "../components/templates/Footer.astro";

// Properties.
export interface Props {
	title: string;
	template: string;
	description: string;
}

const { title, description, template } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | Atakan Oz</title>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:title" content={title + "| Atakan Oz"} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://atakanoz.com" />
		<meta property="og:image" content="https://atakanoz.com/og.jpg" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="https://atakanoz.com" />
		<meta name="twitter:creator" content="@atakanoz.com" />
		<meta property="og:url" content="http://atakanoz.com" />
		<meta property="og:title" content={title + "| Atakan Oz"} />
		<meta property="og:image" content="https://atakanoz.com/og.jpg" />
	</head>

	<body id={"page-template-" + template}>
		<main>
			<Nav />
			<div class={template + " " + "content"}>
				<slot />
			</div>
			<Footer />
		</main>
		<style lang="scss" is:global>
			html {
				@apply h-full;
			}

			body {
				@apply bg-[#0a0a0a] antialiased flex items-center justify-center min-h-full;
				font-family: "Euclid Circular A";
			}

			main {
				@apply max-w-[930px] w-full mx-auto px-6 flex flex-col h-full py-10;
			}

			.page-title {
				@apply text-[54px] text-slate-300 font-semibold mt-5 mb-10 tracking-[-0.02em] leading-[1.1];
			}

			.content {
				@apply pt-10 md:pt-14 pb-20;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-Bold.eot");
				src: local("Euclid Circular A Bold"), local("../fonts/EuclidCircularA-Bold"), url("../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/EuclidCircularA-Bold.ttf") format("truetype");
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-Light.eot");
				src: local("Euclid Circular A Light"), local("../fonts/EuclidCircularA-Light"), url("../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-BoldItalic.eot");
				src: local("Euclid Circular A Bold Italic"), local("../fonts/EuclidCircularA-BoldItalic"), url("../fonts/EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-BoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-BoldItalic.woff") format("woff"), url("../fonts/EuclidCircularA-BoldItalic.ttf") format("truetype");
				font-weight: bold;
				font-style: italic;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-LightItalic.eot");
				src: local("Euclid Circular A Light Italic"), local("../fonts/EuclidCircularA-LightItalic"), url("../fonts/EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-LightItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-LightItalic.woff") format("woff"), url("../fonts/EuclidCircularA-LightItalic.ttf") format("truetype");
				font-weight: 300;
				font-style: italic;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-Regular.eot");
				src: local("Euclid Circular A Regular"), local("../fonts/EuclidCircularA-Regular"), url("../fonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Regular.woff2") format("woff2"), url("../fonts/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/EuclidCircularA-Regular.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-SemiBold.eot");
				src: local("Euclid Circular A SemiBold"), local("../fonts/EuclidCircularA-SemiBold"), url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-Medium.eot");
				src: local("Euclid Circular A Medium"), local("../fonts/EuclidCircularA-Medium"), url("../fonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Medium.woff2") format("woff2"), url("../fonts/EuclidCircularA-Medium.woff") format("woff"), url("../fonts/EuclidCircularA-Medium.ttf") format("truetype");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-Italic.eot");
				src: local("Euclid Circular A Italic"), local("../fonts/EuclidCircularA-Italic"), url("../fonts/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Italic.woff2") format("woff2"), url("../fonts/EuclidCircularA-Italic.woff") format("woff"), url("../fonts/EuclidCircularA-Italic.ttf") format("truetype");
				font-weight: normal;
				font-style: italic;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-SemiBoldItalic.eot");
				src: local("Euclid Circular A SemiBold Italic"), local("../fonts/EuclidCircularA-SemiBoldItalic"), url("../fonts/EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBoldItalic.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
				font-weight: 600;
				font-style: italic;
				font-display: swap;
			}

			@font-face {
				font-family: "Euclid Circular A";
				src: url("../fonts/EuclidCircularA-MediumItalic.eot");
				src: local("Euclid Circular A Medium Italic"), local("../fonts/EuclidCircularA-MediumItalic"), url("../fonts/EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-MediumItalic.woff2") format("woff2"), url("../fonts/EuclidCircularA-MediumItalic.woff") format("woff"), url("../fonts/EuclidCircularA-MediumItalic.ttf") format("truetype");
				font-weight: 500;
				font-style: italic;
				font-display: swap;
			}

			html {
				.calendly-badge-widget {
					@apply -bottom-0.5 right-0 w-full flex items-center md:bottom-5 md:right-5 md:w-auto;

					font-family: "Euclid Circular A";

					.calendly-badge-content {
						@apply w-full flex flex-col gap-0.5 items-center rounded-none md:rounded-lg justify-center h-[55px];
						font-family: "Euclid Circular A";

						span {
							@apply text-opacity-60 font-normal text-white;
						}
					}
				}
			}
		</style>
	</body>
</html>
